.blogs {
  background-size: cover;
  background-position: center center;
  .container__ {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
    .back,
    .front,
    span {
      width: 40px;
      height: 40px;
      background-color: white;
      color: black;
      text-align: center;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 2px;
    }
    .pages {
      display: flex;
      align-items: center;
    }
  }

  .leftblocgcontent {
    text-align: right;
    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 400px) {
  .blogs {
    text-align: center !important;
  }
  .userimgouter,
  .rightmode {
    width: 90%;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center !important;
  }
  .leftblocgcontent {
    text-align: center !important;
  }
}
